.image {
    width: 49%;
    height: 300px;
    object-fit: cover;
    border-radius: 5.5%;
    object-position: center;
    box-shadow: 5px 5px 1px 1px grey;
    transition: transform 0.5s;
    transition: scale 0.5s;
    cursor: pointer;
    z-index: default;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 0%;
    margin-right: 0%;
}

.image:hover {
    transition: scale 0.5s;
    scale: 1.1;
    z-index: 10;
}

@media screen and (max-width: 768px) {
    .image {
        width: 99%;
        /* height: 90%; */
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }

    .image:hover {
        transition: none;
        scale: 1;
        z-index: default;
    }
}

#fullscreen-div {
    /*Sit on top of the page content */
    position: fixed;
    /*Full width (cover the whole page) */
    width: 100%;
    /*Full height (cover the whole page)*/
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* Black background with little opacity */
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 10;
    /*
     * in absolute foreground image: everything is moving both foreground and background images.
     * in fixed foreground image: foreground image is fixed and background move on moving mouse wheel.
     */
}

#image-container-div {
    position: relative;
    transform: translate(0%, 10%);
    text-align: center;
    align-items: center;
}

div#image-container-div img {
    width: 90%;
    height: 700px;
    border-radius: 2%;
}

.carousel-control-prev-icon {
    /*if position is static then top/bottom/left/right will not working.*/
    position: fixed;
    left: 1%;
    transform: translate(0%, -150%);
    padding-top: 10%;
    padding-bottom: 10%;
    cursor: pointer;
    z-index: 12;
}

.carousel-control-next-icon {
    position: fixed;
    left: 96.5%;
    transform: translate(0, -150%);
    padding-top: 10%;
    padding-bottom: 10%;
    cursor: pointer;
    z-index: 12;
}

/*cross button to exit full screen*/
#cross-button {
    position: fixed;
    font-size: 500%;
    font-weight: bold;
    cursor: pointer;
    z-index: 13;
    left: 95%;
    top: 2%;
    color: black;
}

@media screen and (max-width: 768px) {
    div#image-container-div img {
        width: 90%;
        height: 400px;
    }
    .carousel-control-prev-icon{
        left: -1%;
        transform: translate(0, 0%);
    }

    .carousel-control-next-icon {
        left: 95%;
        transform: translate(0, 0%);
    }

    #image-container-div {
        transform: translate(0%, 70%);
    }

    #cross-button {
        left: 45%;
        top: 65%;
    }
}