#warning {
    width: 80%;
    margin: auto;
    padding: auto;
    margin-top: -2%;
    margin-bottom: 0.2%;
    padding: 0.5%;
    text-align: center;
    color: red;
    font-weight: bold;
    display: block;
    animation-timing-function: linear;
}

@media screen and (min-width: 500px) {
    #warning::before {
        content: "Please select all the options. ";
    }

}

@keyframes slide-right {
    0% {
        transform: translateX(-100%);
    }


    100% {
        transform: translateX(0px);

    }
}

@keyframes slide-left {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-100%);
    }

}

.center {
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-45%, 0%)
}

#download-as-pdf-button {
    margin-bottom: 2%;
    display: none;
}

/*styling for subjects-wise result*/
.paper-code {
    cursor: pointer;
}

.pop-up {
    background-color: rgb(157, 156, 156);
    position: absolute;
    z-index: 10;
    padding-left: 1%;
    padding-right: 1%;
    border-style: solid;
    border-color: 55 transparent transparent transparent;
    border-radius: 10px;
    animation: fade-in 0.5s;
}

.remove-pop-up {
    background-color: rgb(157, 156, 156);
    position: absolute;
    z-index: 10;
    padding-left: 1%;
    padding-right: 1%;
    border-style: solid;
    border-color: 55 transparent transparent transparent;
    border-radius: 10px;
    /*above are same as class pop-up*/
    animation: fade-out 0.5s;
    opacity: 0%;
}

@keyframes fade-in {
    0% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

@keyframes fade-out {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}