#warning {
    width: 80%;
    margin: auto;
    padding: auto;
    margin-top: -2%;
    margin-bottom: 0.2%;
    padding: 0.5%;
    text-align: center;
    color: red;
    font-weight: bold;
    display: block;
    animation-timing-function: linear;
}

@media screen and (min-width: 500px) {
    #warning::before {
        content: "Please select all the options. ";
    }

}

@keyframes slide-right {
    0% {
        transform: translateX(-100%);
    }


    100% {
        transform: translateX(0px);

    }
}

@keyframes slide-left {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-100%);
    }

}

.center {
    position: relative;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    transform: translate(-45%, 0%)
}

#download-as-pdf-button {
    margin-bottom: 2%;
    display: none;
}