{% extends "base.html"%}
{%block title%} About RDS College - BCA RDS College, Muzaffarpur  {%endblock title%}
{%block description%}About Ram Dayalu Singh College Muzaffarpur{% endblock description%}
{%block keywords%}about, about RDS college muzaffarpur, details about ram dayalu singh college muzaffarpur, BCA Department RDS College Muzaffarpur, Details of rds college muzaffarpur, Prospectus of rds college muzaffarpur, Description of rds college, RDS College, Information Bulletin, Information about RDS College Muzaffarpur, About Page, Information Page, overview, facilities, faculty, mission, vision{%endblock keywords%}
{%block css%}<link rel="stylesheet" href="{{url_for('static', filename='/css/about.css')}}" />{%endblock css%}

{% block body%}
{% endblock body%}