{% extends "base.html"%}
{%block title%} About - BCA RDS College, Muzaffarpur  {%endblock title%}
{%block description%}About BCA Department of RDS College Muzaffarpur{% endblock description%}
{%block keywords%}About, About BCA Department, Details about BCA Department RDS College Muzaffarpur, BCA Department RDS College Muzaffarpur, Details of BCA Department, Prospectus of BCA Department RDS College Muzaffarpur, Description of BCA Department, RDS College, Information Bulletin, Information about BCA Department RDS College Muzaffarpur, About Page, Information Page{%endblock keywords%}
{%block css%}<link rel="stylesheet" href="{{url_for('static', filename='/css/about.css')}}" />{%endblock css%}

{% block body%}

<div class="main wrapper clearfix data">
    <p class="text-center fs-2 text fw-bolder"><strong>ABOUT</strong></p>
    <hr>

    <article>
        <section>
            <h3>Overview</h3>
            <p>BCA Department is an element of Vocational Department of Ram Dayalu Singh College, Muzaffarpur (RDS
                College, Muzaffarpur). It offers a comprehensive curriculum that provides students with a strong
                foundation in computer science and application. Our program combines theoretical knowledge with hands-on
                experience, giving students the skills they need to succeed in today's competitive job market. The BCA
                course is started around 2009. The department is offering BCA course with an intake of 50 students.
            </p>
        </section>

        <section>
            <h3>Program</h3>
            <p>
                The BCA program is designed to be flexible, allowing students to choose from a variety of elective
                courses that align with their interests and career goals. In addition to traditional coursework,
                students have the opportunity to participate in internships and other experiential learning
                opportunities, giving them valuable real-world experience.
            </p>
        </section>

        <section>
            <h3>Facilities</h3>
            <p>
                The department also has state of the art computing facilities, with modern computers and software
                that are essential for providing students with the training they need to be successful in the field.
            </p>
        </section>

        <section>
            <h3>Faculty</h3>
            <p>
                Our experienced faculty members are dedicated to providing students with a high-quality education.
                They bring a wealth of industry experience and academic expertise to the classroom, and are
                committed to helping students succeed.
            </p>
        </section>

        <section>
            <h3>Mission</h3>
            <p>
                Overall, the BCA Department at Ram Dayalu Singh College is dedicated to providing students with the
                knowledge and skills they need to succeed in the fast-paced world of business and technology. We are
                committed to helping our students achieve their goals and reach their full potential.
            </p>
        </section>
    </article>
</div>

{% endblock body%}