{% extends "base.html"%}
{%block title%} About - BCA RDS College, Muzaffarpur  {%endblock title%}
{%block description%}About BCA Department of RDS College Muzaffarpur{% endblock description%}
{%block keywords%}About, About BCA Department, Details about BCA Department RDS College Muzaffarpur, BCA Department RDS College Muzaffarpur, Details of BCA Department, Prospectus of BCA Department RDS College Muzaffarpur, Description of BCA Department, RDS College, Information Bulletin, Information about BCA Department RDS College Muzaffarpur, About Page, Information Page{%endblock keywords%}
{%block css%}<link rel="stylesheet" href="{{url_for('static', filename='/css/about.css')}}" />{%endblock css%}

{% block body%}

<div class="main wrapper clearfix data">
    <p class="text-center fs-2 text fw-bolder">About</p>
    <hr>
    <div class="alert alert-success" style="font-weight:bold; font-size: 120%; font-family: sans-serif;" role="alert">
        This page is under development!
    </div>
</div>

{% endblock body%}