{% extends "base.html"%}
{%block title%} About RDS College - BCA RDS College, Muzaffarpur  {%endblock title%}
{%block description%}About Ram Dayalu Singh College Muzaffarpur{% endblock description%}
{%block keywords%}about, about RDS college muzaffarpur, details about ram dayalu singh college muzaffarpur, BCA Department RDS College Muzaffarpur, Details of rds college muzaffarpur, Prospectus of rds college muzaffarpur, Description of rds college, RDS College, Information Bulletin, Information about RDS College Muzaffarpur, About Page, Information Page, overview, facilities, faculty, mission, vision, achievements, history{%endblock keywords%}
{%block css%}<link rel="stylesheet" href="{{url_for('static', filename='/css/about.css')}}" />{%endblock css%}

{% block body%}

<div class="main wrapper clearfix data">
    <p class="text-center fs-2 text fw-bolder"><strong>ABOUT RDS COLLEGE</strong></p>
    <hr>

    <article>
        <section>
            <h3>Overview</h3>
            <p>
                Ram Dayalu Singh College, Muzaffarpur is a co-educational Constituent Unit of B. R. A. Bihar University, Muzaffarpur, imparting Under-Graduate and Post-Graduate teaching in the Faculty of Arts, Science and Commerce. It is approved by the University Grants Commission, New Delhi under section 2(f) of the U. G. C. Act, 1956.                
                <br>
                Ram Dayalu Singh College has become first NAAC Accredited College of B. R. Ambedkar Bihar University & in North Bihar for cycle 5 January 2013 to 4 January 2018.
            </p>
        </section>

        <section>
            <h3>History</h3>
            <p>
                Ram Dayalu Singh College, Muzaffarpur is a premier Constituent College, imparting Undergraduate and Post graduate teaching in Arts, Science and Commerce. The College was established on 19th June, 1948 and affiliated permanently on 06.07.1967 by the Bihar University, Muzaffarpur (Bihar). The College converted into a Constituent College of the then Bihar University, Muzaffarpur (Bihar) w.e.f. 01.07.1967.
                The College is more than six decades old, and it was established in the year 1948. The College has well qualified members in each faculty of Arts, Science and Commerce, who have published reputed research articles in the Journals of repute. Many faculty members have been awarded Minor Research Projects, and a Major Research Project. A number of National Seminars held in Humanities and Social Sciences
            </p>
        </section>

        
        <section>
            <h3>Achievements</h3>
            <p>
                More than 7,000 students are reading in the college, comprising OBC, SC, ST, PH, Minorities & General Categories. Results are praiseworthy because many of them have ranked in the University. The College awards each year a number of prizes to students for high achievement in academic & extra-curricular activities. Scholarships and other financial aid are given to deserving students on the basis of merit.
            </p>
        </section>

        
        <section>
            <h3>Facilities</h3>
            <p>
                The College has a rich library comprising more than 60,000 books. It is subscribing three current research journals in each faculty.
                <br>
                The college has two big sports ground and a specious auditorium for outdoor and indoor games. The track record of the student in sports is noteworthy.
                <br>
                Vocational Courses in Self Financial Basis are Industrial Fish & Fisheries, Industrial Chemistry, B. C. A. and B. B. A. Many of them have been placed in the Industry and Educational Sector. Besides, Job Oriented courses for SC, ST, Minorities and BPL students are very much functional, resulting to their placement in the Railways & Banking Sector.
                <br>
                The college has big library which has 54452 books. The college has also self financing Vocational Courses such as Industrial Fish and Fisheries, Industrial Chemistry, BCA and BBA.
            </p>
        </section>

        
        <section>
            <h3>More</h3>
            <p>
                The College is a multi faculty, co-educational institution situated in the premises of nearly 51 acres of prime land in the eco-friendly environment, having total covered area of building is nearly 10590 sq. meter comprising Arts Block (2 Stories), Science (2 Stories), Auditorium, Library, Geography Department, separate class rooms etc.
                <br>
                The College have 70% of OBC (Non-creamy layer) students, 10% females, 10% SC schedules. For them, Remedial classes and Entry in Service are running and many of them have been selected in Banking sectors and Career Counseling Centre. 
                <br>
                Seminars, workshops, debates and various types of cultural activities are being imparted in the College. Organization of workshops seminars helpers to get the suggestions feedback from academic peers and other such as orators, philosophers, scientists, politicians, academicians, law makers, judges etc. who are invited by the college. The suggestions given by the invitees are utilized in initiating and redesigning courses which are useful to the regional/national needs. It is pertinent to mention that five Teachers of the college have been awarded Minor Research Project (MRP) in Economics, History and Mathematics.
            </p>
        </section>

    </article>
{% endblock body%}