{% extends "base.html"%}
{%block title%} Contribute - BCA RDS College, Muzaffarpur  {%endblock title%}
{%block description%}Contribute To BCA Department RDS College Muzaffarpur{% endblock description%}
{%block keywords%}contribute, contribution, contribute to application, upload images, upload previous year questions, contribute to the project, contribute to RDS College Muzaffarpur, contribute to app of BCA Department RDS College Muzaffarpur{%endblock keywords%}

{%block body%}
<body>
    <!---Page Heading-->
    <div class="main wrapper clearfix data" style="padding-top:0%;margin-top:0%;color:bold black;">
        <p class="text-center fs-2 text fw-bolder">Contribute</p>
        <hr>

        <!--Form starts-->
        <form>
            <div class="form-floating mb-4">
                <select class="form-select" id="floatingSelect2" aria-label="Floating label select example" required name="contribution">
                    <option selected value="">Please Select</option>
                    <option value="previous-year-questions">Upload Previous Year Question</option>
                </select>
                <label for="floatingSelect" class="mandatory">Contribute</label>
            </div>
        </form>
        <!--Form ends-->


    </div>
</body>
{%endblock body%}