<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contributed Data - PDF Files</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
        table {
            border-collapse: collapse; /* Ensure no gaps between table borders */
            width: 100%; /* Make the table occupy full width */
            text-align: center;
        }
        th, td {
            border: 1px solid #dee2e6; /* Bootstrap default border color */
        }
        th {
            background-color: #343a40; /* Dark background for headers */
            color: white; /* White text for better contrast */
        }
    </style>
</head>

<body>
    <div class="container mt-5">
        <h1 class="text-center mb-4">Available Contributed PDF Files</h1>
        <hr>
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Title</th>
                        <th>Semester</th>
                        <th>Year</th>
                        <th>Source</th>
                        <th>Contributor</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    {% for file in files %}
                    <tr>
                        <td>{{ file.title }}</td>
                        <td>{{ file.semester }}</td>
                        <td>{{ file.year }}</td>
                        <td>{{ file.source }}</td>
                        <td>{{ file.contributor |safe }}</td>
                        <td>
                            <a href="{{ url_for('download_contributed_file', filename=file.filename) }}"
                                class="btn btn-primary btn-sm">
                                Download
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
</body>

</html>
