{% extends "base.html"%}
{%block title%} Contact - BCA RDS College, Muzaffarpur  {%endblock title%}
{%block description%}Contact BCA Department RDS College Muzaffarpur{% endblock description%}
{%block keywords%}Contact, Contact BCA Department of RDS College Muzaffarpur, Enquiry, Contact BCA Department, Connect With BCA Department RDS College, BCA Department RDS College, Phone Number, Mobile Number, Email of BCA Department{%endblock keywords%}

{% block body%}

<div class="main wrapper clearfix data">
    <p class="text-center fs-2 text fw-bolder">Contact</p>
    <hr>
    <div class="alert alert-success" style="font-weight:bold; font-size: 120%; font-family: sans-serif;" role="alert">
        This page is under development!
    </div>
</div>

{% endblock body%}