{% extends "base.html"%}
{%block title%} Credits - BCA RDS College, Muzaffarpur  {%endblock title%}
{%block scale%}0.8{%endblock scale%}
{%block description%}Credits - List of persons help in development of the web application{% endblock description%}
{%block keywords%}BCA RDS College Muzaffarpur, credits, Contributors, BCA Department RDS College Muzaffarpur, Contributors list, contributors in development of website, credits to contributors {%endblock keywords%}

{% block body%}

<div class="main wrapper clearfix data">
    <p class="text-center fs-2 text fw-bolder">CREDITS</p>
    
    {%if isCreditsAvailable%}
            <div class="alert alert-info" role="alert" style="padding:0.3%">
                Arranged in Alphabetical Order!
            </div>

            <div style="width:100%; margin:auto;padding:auto;">
            <table class="table table-striped">
                <thead>
                    <th>Name</th>
                    <th>Contribution</th>
                    <th>Contact</th>
                </thead>
                {% for contributor in credits%}
                    <tr>
                        <td>{{contributor[1]}}
                            {%if contributor[2] is not none%}
                                (<i>{{contributor[2]}}</i>)
                            {%endif%}
                        </td>
                        <td>{{contributor[3]}}</td>
                        <td>
                            <a href={%if contributor[5] is not none%} "{{contributor[5]}}" target="_blank" {%else%} "javascript:void(0)" {%endif%}>
                                {%if contributor[4] is not none%}
                                    {{contributor[4]}}
                                {%else%}
                                    N/A
                                {%endif%}
                            </a>
                        </td>
                    </tr>
                {%endfor%}
            </table>
        {%else%}
            <div class="alert alert-danger" role="alert" style="padding:0.3%">
                {{errorMessage|default('No contributors data Available!')}}
            </div>
        {%endif%}
    </div>
</div>

{% endblock body%}