{% extends "base.html"%}
{%block title%} Home {%endblock title%}
{% block body%}

<div class="main wrapper clearfix data">
    <p class="text-center fs-2 text fw-bolder">CREDITS</p>
    <table class="table table-striped">
        <tr>
            <th>SNo</th>
            <th>Name</th>
            <th>Contribution</th>
            <th>Contact</th>
        </tr>
        <tr>
            <td>01</td>
            <td>Abhishek Kumar</td>
            <td>Database Creation, Designing, and Management</td>
            <td><a href="https://github.com/abhiabhishekoffl">@abhiabhishekoffl</a></td>
    </table>
</div>

{% endblock body%}