{% extends "base.html"%}
{%block title%} Credits {%endblock title%}
{% block body%}

<div class="main wrapper clearfix data">
    <p class="text-center fs-2 text fw-bolder">CREDITS</p>
    
    <div class="alert alert-info" role="alert" style="padding:0.3%">
        Arranged in Alphabetical Order!
    </div>

    <div style="width:100%; margin:auto;padding:auto;">
        <table class="table table-striped">
            <thead>
                <th>Name</th>
                <th>Contribution</th>
                <th>Contact</th>
            </thead>
            <tr>
                <td>Abhishek Kumar</td>
                <td>Database Creation, Designing, and Management</td>
                <td><a href="https://github.com/abhiabhishekoffl" target="_blank">@AbhishekKumar</a></td>
            </tr>

            <tr>
                <td>Anand Srivastava (Teacher)</td>
                <td>Most of the Previous Year Questions</td>
                <td><a href="https://github.com/anandrdscollege" target="_blank ">@AnandSrivastava</a></td>
            </tr>

            <tr>
                <td>Rashek Kumar (Teacher)</td>
                <td>Most of the Previous Year Questions</td>
                <td><a href="#">Not Available</a></td>
            </tr>

            <tr>
                <td>Ritu Raj</td>
                <td>Previous Year Question (Semester 3rd - 2020)</td>
                <td><a href="https://instagram.com/beastkinn" target="_blank">@RituRaj</a></td>
            </tr>

        </table>
    </div>
</div>

{% endblock body%}