{% extends "base.html" %}
{%block scale%}1{%endblock scale%}
{%block title%} Gallery - BCA RDS College, Muzaffarpur {%endblock title%}
{%block description%}Pictures Gallery of BCA Department RDS College Muzaffarpur{% endblock description%}
{%block keywords%}Pictures Gallery, Gallery, Pictures of BCA Department RDS College Muzaffarpur, Gallery of BCA Department RDS College Muzaffarpur, BCA Department RDS College Muzaffarpur, Picture of Students, Photos{%endblock keywords%}
{%block css%}<link rel="stylesheet" href="../static/css/image-effects.css">{%endblock css%}
{%block css2%}<link rel="stylesheet" href="../static/css/gallery.css">{%endblock css2%}

{%block body%}
<!---Page Heading-->
<div class="main wrapper clearfix data" style="padding-top:0%;margin-top:0%;color:bold black;">
    <p class="text-center fs-2 text fw-bolder">Gallery</p>
    {% for odd in oddNumbers %}
        <img src="../static/gallery/image ({{odd}}).jpg" class="image float-start">
        <img src="../static/gallery/image ({{odd+1}}).jpg" class="image float-end">
    {%endfor%}
</div>
{%endblock body%}
{%block script%}<script src="../static/js/gallery.js"> </script>{%endblock script%}