{% extends "base.html"%} {% block body%}
<div class="header-container">
  <header class="wrapper clearfix">
    <h1 class="title">RDS STUDENTS INFO</h1>
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">History</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </nav>
  </header>
</div>

<div class="main wrapper clearfix data">
  <form>
    <p>
      <input type="text" placeholder="ExamRoll no" />
    </p>
    <p>
      <input type="text" placeholder="Registration No" />
    </p>

    <p>
      <button type="submit">Submit</button>
    </p>
  </form>
</div>
{% endblock body%}
