{% extends "base.html"%}
{%block title%} Home {%endblock title%}

{% block body%}

<!---Page Heading-->
<div class="main wrapper clearfix data">
  <p class="text-center fs-2 text fw-bolder">WELCOME TO BCA DEPARTMENT OF RDS COLLEGE MUZAFFARPUR</p>
  {# <img src="" class="img-thumbnail" alt="Image Not Found"> #}

  <!--Image Slides on the page-->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
        aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
        aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{{url_for('static', filename='images/college.png')}}" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../static/images/class.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../static/images/playground.png" class="d-block w-100" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <!---Page Content-->
  <div class="card" style="width: 18rem; margin-top:2%">
    <img src="../static/images/result.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Results</h5>
      <p class="card-text">Result of BCA Session 2020-23 And 2021-24 </p>
      <a href="/result" class="btn btn-primary">Check Result</a>
    </div>
  </div>
</div>
{% endblock body %}