{% extends 'base.html' %}
{%block title%} Login - BCA RDS College, Muzaffarpur  {%endblock title%}
{%block description%}Login BCA Department RDS College Muzaffarpur{% endblock description%}
{%block keywords%}Login, BCA Department RDS College Muzaffarpur, RDS College Muzaffarpur, Student's Login, login page, registration page, user's login, RDS College, Login page for registered user, Login page for students of BCA Department RDS College Muzaffarpur{%endblock keywords%}
{%block body%}
<!---Page Heading-->
<div class="main wrapper clearfix data" style="padding-top:0%;margin-top:0%;color:bold black;">
    <p class="text-center fs-2 text fw-bolder">Login</p>
    <hr>
    <div style="padding-left:10%; padding-right:10%;">
        <p style="text-decoration:underline;"><strong>Fill The Following Fields</strong></p>

        <!-- form start -->
        <form action="/register" method="POST">
        </form>
    </div>
</div>
{%endblock body%}