{% extends 'base.html' %}
{%block body%}
<!---Page Heading-->
<div class="main wrapper clearfix data" style="padding-top:0%;margin-top:0%;color:bold black;">
    <p class="text-center fs-2 text fw-bolder">Login</p>
    <hr>
    <div style="padding-left:10%; padding-right:10%;">
        <p style="text-decoration:underline;"><strong>Fill The Following Fields</strong></p>

        <!-- form start -->
        <form action="/register" method="POST">
        </form>
    </div>
</div>
{%endblock body%}