{% extends "base.html"%}
{%block scale%}0.75{%endblock scale%}
{%block title%} Notice - BCA RDS College, Muzaffarpur {%endblock title%}
{%block css%}<link rel="stylesheet" href="../static/css/notice.css" />{%endblock css%}


{% block body%}
<!---Page Heading-->
<div class="main wrapper clearfix data" style="padding-top:0%;margin-top:0%;color:bold black;">
    <p class="text-center fs-2 text fw-bolder">Notice</p>

<!-- Notification Starts-->
    <!--1st Notification Panel-->
    <div class="border-animation" id='notice'>
        <h4 style="text-decoration: underline;"><strong>NOTICE BOARD</strong><h4>
        <marquee onmouseover="this.stop()" onmouseout="this.start()"><p><img src="../static/gif/new.gif"><a href="https://brabu.net/exam_form_voc_2022_2/index.php" target="_blank">BRABU Vocational Practical Examination will start from 3rd January 2023</a></p></marquee>

        <div class="alert alert-info" role="alert" id="noticeAlert">
            Vocational Practical Examination For Sem - 2nd (2021-24), Sem - 3rd (2020-23) and Sem - 5th (2019-22)
        </div>
        <div class="alert alert-primary" role="alert" style="margin-top:-0.8%; padding-bottom: 0%;">
        <p>
           <a href="https://drive.google.com/file/d/1CLbM_G6rOM-QgXLsxaSmE4U8t2zq0piV/view?usp=share_link" target="_blank"> Click Here For Official Notification And Exam Schedule</a>  
           <img src="../static/gif/new2.gif" width="5%">
        </p>
        </div>
        <a href="./Notice.pdf" target="_blank"><button type="button" class="btn btn-info">Click Here For Official Notice</button></a>
        <!--<p style="margin: 1%;">Last Date: <span class="blink">15th Nov 2022<span></p>-->
        <p style="margin: 1%;">Exam Date: <span class="blink">Extended<span></p>
            <span style="font-weight: 300; font-size: 70%; font-family: serif"><img src="../static/img/update.png" width="2.5%"><i> Last Updated On 17th December 2022 06:15 PM</i></span>
    </div>

    <!--2nd Notification Panel-->
    <div class="border-animation" style="border-top:none;">
        <marquee direction="down" onmouseover="this.stop()" onmouseout="this.start()">
            <div class="alert alert-primary bootstrap-alert" role="alert">
                Date For Practical Examination Extended.
             </div>
                <div class="alert alert-success bootstrap-alert" role="alert">
                    BRABU Vocational Practical Examination will start from 3rd January 2022
                </div>
        </marquee>
    </div>
  <!--Notification Ends-->
</div>

{% endblock body %}