{% extends "base.html"%}
{%block scale%}0.75{%endblock scale%}
{%block title%} Notice - BCA RDS College, Muzaffarpur {%endblock title%}
{%block css%}<link rel="stylesheet" href="../static/css/notice.css" />{%endblock css%}
{%block description%}Notice BCA Department RDS College Muzaffarpur{% endblock description%}
{%block keywords%}Notice Board, Notice Board BCA Department RDS College Muzaffarpur, Notice, Latest Notice, BCA Department Notice Board, Notification for students, BCA Notifications RDS College, Notification, Latest Notification, Alert{%endblock keywords%}

{% block body%}
<!---Page Heading-->
<div class="main wrapper clearfix data" style="padding-top:0%;margin-top:0%;color:bold black;">
    <p class="text-center fs-2 text fw-bolder">Notice</p>

<!-- Notification Starts-->
    {%if isNoticeAvailable%}
        <!--1st Notification Panel-->
        <div class="border-animation" id='notice'>
            <h4 style="text-decoration: underline;"><strong>NOTICE BOARD</strong><h4>
            <marquee onmouseover="this.stop()" onmouseout="this.start()"><p><img src="../static/gif/new.gif"><a href="{{notice[2]}}" target="_blank">{{notice[1]}}</a></p></marquee>
            
            <div class="alert alert-info" role="alert" id="noticeAlert">
                {{notice[3]}}
            </div>
            <div class="alert alert-primary" role="alert" style="margin-top:-0.8%; padding-bottom: 0%;">
            <p>
                <a href="{{notice[5]}}" target="_blank"> {{notice[4]}}</a>  
                <img src="../static/gif/new2.gif" width="5%">
            </p>
            </div>
            {%if notice[6] is not none%}
                <a href="{{notice[7]}}" target="_blank"><button type="button" class="btn btn-info">{{notice[6]}}</button></a>
            {%endif%}
            <!--<p style="margin: 1%;">Last Date: <span class="blink">15th Nov 2022<span></p>-->
            <p style="margin: 1%;">{{notice[8]}}: <span class="blink">{{notice[9]}}<span></p>
                <span style="font-weight: 300; font-size: 70%; font-family: serif"><img src="../static/img/update.png" width="2.5%"><i> Last Updated On 9th January 2023 01:55 PM</i></span>
        </div>
    
        <!--2nd Notification Panel-->
        <div class="border-animation" style="border-top:none;">
            <marquee direction="down" onmouseover="this.stop()" onmouseout="this.start()">
                <div class="alert alert-primary bootstrap-alert" role="alert">
                    {{notice[10]}}
                </div>
                {%if notice[11] is not none%}
                    <div class="alert alert-success bootstrap-alert" role="alert">
                            {{notice[11]}}
                    </div>
                {%endif%}
                {%if notice[12] is not none%}
                    <div class="alert alert-success bootstrap-alert" role="alert">
                            {{notice[12]}}
                    </div>
                {%endif%}
            </marquee>
        </div>
        
    {%else%}
        <div class="alert alert-danger" role="alert" style="width:80%; margin:auto;padding:auto; margin-bottom:2%; padding:0.5%; text-align:center;">
            {{errorMessage|default("Notice Unavailable!")}}
        </div>
    {%endif%}
<!--Notification Ends-->
</div>

{% endblock body %}