{% extends "base.html"%}
{%block title%} Sources - BCA RDS College, Muzaffarpur  {%endblock title%}
{%block scale%}0.8{%endblock scale%}
{% block body%}

<div class="main wrapper clearfix data">
    <p class="text-center fs-2 text fw-bolder">SOURCES</p>
    
    <div class="alert alert-info" role="alert" style="padding:0.3%">
        Arranged in Alphabetical Order!
    </div>

    <div style="width:100%; margin:auto;padding:auto;">
        <table class="table table-striped">
            <thead>
                <th>Source</th>
                <th>Contribution</th>
                <th>Connect</th>
            </thead>

            <tr>
                <td>BRABU</td>
                <td>Student's result and other details</td>
                <td><a href="https://brabu.net/" target="_blank "><i class="material-icons icons registrationIcons">open_in_new</i></a></td>
            </tr>

            <tr>
                <td>IGNOU</td>
                <td>Some of the Study Materials</td>
                <td><a href="http://www.ignou.ac.in/" target="_blank"><i class="material-icons icons registrationIcons">open_in_new</i></a></td>
            </tr>

            <tr>
                <td>Vaishali Institute</td>
                <td>Previous Year Questions of Vaishali Institute</td>
                <td><a href="www.vibrm.in" target="_blank "><i class="material-icons icons registrationIcons">open_in_new</i></a></td>
            </tr>

        </table>
    </div>
</div>

{% endblock body%}