{%extends "base.html"%}
{%block title%} Study Materials - BCA RDS College, Muzaffarpur  {%endblock title%}
{%block description%}Study Materials For Students of BCA Department RDS College Muzaffarpur{% endblock description%}
{%block keywords%}Study Material, Programming Study Materials, Study Materials for student's of BCA Department RDS College Muzaffarpur, BCA Department RDS College Muzaffarpur, Study material for BCA Students, RDS College Study Materials, Study Material's for BCA Students{%endblock keywords%}
{%block body%}
<body>
    <div class="main wrapper clearfix data" style="padding-top:0%;margin-top:0%;color:bold black;">
        <p class="text-center fs-2 text fw-bolder">Study Materials</p>
        <hr>
</body
{%endblock body%}
