{% extends "base.html"%}
{%block title%} Teachers {%endblock title%}
{%block scale%}0.8{%endblock scale%}
{% block body%}

<div class="main wrapper clearfix data">
    <p class="text-center fs-2 text fw-bolder">TEACHERS</p>
    
    <div class="alert alert-info" role="alert" style="padding:0.3%">
        Arranged in Alphabetical Order!
    </div>

    <div style="width:100%; margin:auto;padding:auto;">
        <table class="table table-striped">
            <thead>
                <th>Teacher's Name</th>
                <th>Subjects</th>
                <th>Contact</th>
            </thead>


            <tr>
                <td>Ajit Kumar</td>
                <td>RDBMS, Linux, Management, Electronics</td>
                <td><a href="javascript:void(0)"><i class="material-icons icons">call</i></a></td>
            </tr>      
            
            <tr>
                <td>Amlendu Kumar</td>
                <td>MS-office, Management, Accounting</td>
                <td><a href="javascript:void(0)"><i class="material-icons icons">call</i></a></td>
            </tr>

            <tr>
                <td>Amrendra Kumar Raushan</td>
                <td>Maths, Networking</td>
                <td><a href="javascript:void(0)"><i class="material-icons icons">call</i></a></td>
            </tr>

            <tr>
                <td>Anand Kumar Srivastava</td>
                <td>Programming</td>
                <td><a href="javascript:void(0)"><i class="material-icons icons">call</i></a></td>
            </tr>

            <tr>
                <td>Pankaj Kumar</td>
                <td>RDBMS, DBMS, MS-office</td>
                <td><a href="javascript:void(0)"><i class="material-icons icons">call</i></a></td>
            </tr>

            <tr>
                <td>Munna Kumar Jha</td>
                <td>Programming</td>
                <td><a href="javascript:void(0)"><i class="material-icons icons">call</i></a></td>
            </tr>

        </table>
    </div>
</div>

{% endblock body%}